{% extends '_base.html' %}

{% block title %}{{ book_detail_view_obj.title }}{% endblock title %}

{% block content %}
<div class="book-detail">
    {% if book_detail_view_obj.cover %}
        <img class="bookcover" src="{{ book_detail_view_obj.cover.url }}" alt="{{ book_detail_view_obj.title }}">
    {% endif %}

    <h2><a href="">{{ book_detail_view_obj.title }}</a></h2>
    <p>Author: {{ book_detail_view_obj.author }}</p>
    <p>Price: {{ book_detail_view_obj.price }}</p>
    <div>
        <h3>Reviews</h3>
        <ul>
            {% for review in book_detail_view_obj.reviews.all %}
            <li>{{ review.review }} ({{ review.author }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
